:root {
  --primary-brand-color: #4D5AE5;
  --dark-color: #2E2F42;
  --text-color: #434455;
  --subtle-text-color: #8E8F99;
  --accent-color: #E7E9FC;
  --light-color: #F4F4FD;
  --white-color: #FFFFFF;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ===== COMPONENTS ===== */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent {
  color: var(--primary-brand-color);
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
}

.subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
}

.light-theme-text {
  color: var(--text-color);
}

.dark-theme-text {
  color: var(--accent-color);
}

.btn {
  cursor: pointer;
}

/* ===== HEADER ===== */
.light-theme-logo {
  color: var(--dark-color);
}

.menu-link {
  font-weight: 600;
  color: var(--dark-color);
}

.menu-link:hover,
.menu-link:focus {
  color:var(--text-color);
}

.menu-link:active,
.current {
  color: var(--primary-brand-color);
}

.contacts-link {
  color:var(--text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--primary-brand-color);
}

/* ===== HERO ===== */
.hero {
  background: var(--dark-color);
}

.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--white-color);
}

.modal-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: var(--primary-brand-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 
}
.modal-btn:hover,
.modal-btn:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.modal-btn:active {
  background: #404BBF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ===== TEAM ===== */
.team {
  background: var(--light-color);
}

.team-subtitle,
.team-text {
  text-align: center;
}

.team-list-item {
  background: var(--white-color);
}

/* ===== FOOTER ===== */
.page-footer {
  background: var(--dark-color);
}
.dark-theme-logo {
  color: var(--light-color);
}
